@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Lobster Two", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

main {
  font-family: "Lobster Two", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.5)),
    url("./assets/torre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

sub-title {
  margin-top: 50%;
}
